:root
{
	--copyright: url('COPYRIGHT.txt');
	--license: url('LICENSE.txt');
	--favicon: url('favicon.png');
	--home: 'home';
}

:root
{
	--blink-simple: none;
	--method: add;
	--fixed: none;
	--size: 14px;
	--size-mobile: 12px;
	--animate: auto;/* global disable here; .. also possible in the elements itself. */
	--easing: linear;/*ease-in-out;*//* linear; then set --speed = ~1.5; w/ ease-in-out better ~1.0; ... */
	--scale: 600;/* a boolean or a number of minimum scaled duration */
	--speed: 1.42;
	--global: 1.21;
	--duration: 1000;
	--duration-show: 1080;
	--duration-hide: 800;
	--duration-blink: 640;
	--delay: 0;
	--delay-each: 60;
	--delay-each-hide: 40;
	--force-animation: none;
	--resize-timeout: 280;
	--dead-timeout: 600000;
	--center-x: none;
	--center-y: none;
	--duration-center: 320;
	--position: arrange; /* arrange|move */
	/* Left Mouse, Touch Contact, Pen contact: 1
	 * Middle Mouse: 4
	 * Right Mouse, Pen barrel button: 2
	 * X1/Back Mouse: 8
	 * X2/Forw Mouse: 16
	 * Pen eraser button: 32
	 */
	--movable-buttons: 4;
}

#MAIN
{
	--top-space: 32px;
	--bottom-space: 192px;
}

:root
{
	--sidebars: none;
}

:root
{
	--wallpaper-speed: 1.2;
	--wallpaper-background: rgba(220, 230, 240, 0.5) 0%, rgba(180, 190, 200, 0.5) 25%, rgba(140, 150, 160, 0.5) 50%, rgba(100, 110, 120, 0.5) 75%, rgba(60, 70, 80, 0.5) 100%;
	--vibration-speed: 3.9;
	--vibration-interval: 0.4;
	--vibration-dots: 4;
	--vibration-dot: '.';
}

#MAIN
{
	--wallpaper: auto;
	--wallpaper-speed: 0.6;
	--wallpaper-background: rgba(220, 230, 240, 0.75) 0%, rgba(190, 200, 210, 0.75) 25%, rgba(160, 170, 180, 0.75) 50%, rgba(130, 140, 150, 0.75) 75%, rgba(100, 110, 120, 0.75) 100%;
}

#MENU
{
	--wallpaper: auto;
}

:root
{
	--github-sort: updated desc;
	--github-index: 'README.md';
	--github: url('https://github.com/');
	--github-raw: url('https://raw.githubusercontent.com/%{user}/%{repo}/master/%{path}');
	--github-repo: url('https://github.com/%{user}/%{repo}');
	--github-api-repo: url('https://api.github.com/users/%{user}/repos');
	--github-api-markdown: url('https://api.github.com/markdown');
	--github-hostname-api: 'api.github.com';
	--github-hostname-raw: 'raw.githubusercontent.com';
}

:root
{
	--unit-base: 1024;
}

#OSD
{
	--speed: 1;
	--refresh: 800;/*important, maybe..!*/
	--clear: none;
	--scale: none;
	--timeout: 1900;
	--duration: 900;
	--duration-blink: 340;
	--font-size: 3.4rem;
	--font-size-mobile: 2.4rem;
}

:root
{
	--lottie-player: url('https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js');
}

#MENU
{
	--data-json: url('json/index.json');
}

.menuItem
{
	--scale: none;
}

#MAIN
{
	--threshold: 420px;
	--max-file-size: 1048576;
}

#MENU, #TOC, #MAIN
{
	--method: set;
	--speed: 0.7;
	--duration-each: 700;
	--easing: linear;
}

#MENU, #TOC
{
	--duration-blink: 800;
}

#MAIN
{
	--blink-simple: none;
	--duration-data: 2400;
	--duration-blink: 700;
}

#MENU, #TOC
{
	--delay-each: 40;
}

#MENU
{
	--delay-init: 1011;
	--delay-each: 80;
}

#MAIN
{
	--delay-each: 40;
}

#TOC
{
	--delay-each: 56;
	--delay-each-hide: 24;
}

#STATE
{
	--duration: 1600;
	--delay-each: 940;
}

#countState
{
	--count: url('php/count.php');
	--refresh: 40000;
	--duration: 520;
	--duration-blink: 800;
	--scale: none;
}

#updateState
{
	--status-url: url('status/update.now');
	--refresh: 60000;
	--duration: 520;
	--duration-blink: 800;
}

#INFO
{
	--duration: 900;
	--easing: linear;
}

#TOC
{
	--resize-timeout: 70;
	--scroll-timeout: 70;
}

:root
{
	--url-everything: none;
	--url-container: auto;
	--url-brackets: none;

	--url-font-size-protocol: 0.82em;
	--url-font-size-protocol-sep: 0.80em;
	--url-font-size-hostname: 1.1em;
	--url-font-size-port: 0.97em;
	--url-font-size-pathname: 1.04em;
	--url-font-size-search: 0.96em;
	--url-font-size-hash: 0.95em;

	--url-font-size-param: 1em;
}

.a-progress
{
	--center: auto;
	--day-percent: none;
	--help: auto;
	--draw-time: auto;
	--draw-text: auto;
	--draw-ticks: auto;
	--resize-timeout: 280;
	--duration: 360;
	--line-width: 1.3;
	--fill-style: rgba(100, 110, 120, 0.5);
	--fill-style-percent: rgba(90, 100, 110, 0.5);
	--stroke-style-percent: rgb(50, 60, 10);
	--line-width-percent: 0.75;
	--line-width-percent-arc: 0.5;
	--text-fill: rgb(230, 240, 250);
	--text-stroke: rgb(20, 30, 40);
	--text-line-width: 1.6;
	--arc-space: 8px;
	--hour-color: rgb(170, 100, 25);
	--hour-line: 5.4;
	--hour-length: 0.45;
	--minute-color: rgb(30, 140, 220);
	--minute-line: 3.4;
	--minute-length: 0.75;
	--second-color: rgb(120, 170, 30);
	--second-line: 2.4;
	--second-length: 1.00;
	--percent-color: rgb(110, 70, 20);
	--tick-outer-radius: 0.015;/* can also be 'px', etc.. */
	--tick-outer-position: 0.96;/* can also be 'px', etc.. */
	--tick-outer-color: rgba(240, 240, 240, 0.8);
	--tick-inner-radius: 0.02;
	--tick-inner-position: 0.85;
	--tick-inner-color: rgba(96, 96, 96, 0.8);
}

#CLOCK, .clock, #SCROLL, .scroll
{
	--center: none;
	--day-percent: auto;
	--duration: 1000;
	--draw-time: auto;
	--draw-text: none;
	--size: 144px;
	--size-mobile: 96px;
	--scale-factor: 0.92;
	--scale-duration: 340;
	--speed: 0.75;
}

.loadProgress, .loadProgressPage
{
	--fill-style: rgba(140, 170, 60, 0.5);
	--fill-style-percent: rgba(80, 90, 30, 0.75);
	--duration: 440;
	--center: auto;
	--method: set;
}

:root
{
	--date: best;/*default|text|..*/

	--date-now: '%h:%m:%s.%S';
	--date-time: '%h:%m:%s';
	--date-date: '%Y-%M-%D';
	--date-default: '%Y-%M-%D (%h:%m:%s)';
	--date-best: '%Y-%M-%D (%h:%m:%s.%S)';
	--date-console: '%Y-%M-%D %h:%m:%s.%S';
	--date-full: '%W, %Y-%M-%D (%h:%m:%s)';
	--date-text: '%w, %D. %n %Y (%h:%m:%s)';
	--date-text-full: '%W, %D. %N %Y (%h:%m:%s.%S)';
	--date-year: '%d, %w';
	--date-year-full: '%d, %W';
	--date-ms: '%X';
	--date-unix: '%x';
	--date-gmt: '%G';
	--date-utc: '%U';
}

.a-dialog
{
	--duration: 500;
	--center: auto;
	--timeout: 0;
	--wallpaper: auto;
}

.a-dialog-button, .a-dialog
{
	--duration: 900;
	--delay-each: 280;
}

.a-dialog-button-area
{
	--duration: 400;
	--space: 28px;
}

.a-help
{
	--speed: 1;
	--scale: 720;
	--duration-show: 1200;
	--duration-hide: 900;
	--duration-move: 480;
	--position: arrange; /* arrange/move */
	--duration-style: 600;/*TODO yet!!!*/
	--easing: linear;
	--wallpaper: auto;
}

.a-github-box
{
	--duration-show: 1100;
	--duration-hide: 700;
	--duration-blink: 600;
	--duration-measure: 360;
	--space: 20px;
}

.a-github-box
{
	--delay-each: 140;
}

.box
{
	--center-x: auto;
	--center-y: auto;
	--position: move;
	--wallpaper: auto;
}

#mobileInfo
{
	--duration-show: 3600;
}

